[color]
	ui = auto
[core]
        editor = vim
	excludesfile = /home/kjean/.gitignore
[alias]
        st = status
        ci = commit
        br = branch
        co = checkout
        df = diff
        lg = log -p
	unstage = reset HEAD --
[user]
	name = Kjell Andreassen
	email = kjell.andreassen@tradedoubler.com
