[color]
	ui = auto
[core]
        editor = vim
	excludesfile = ~/.gitignore
[alias]
        st = status
        ci = commit
        br = branch
        co = checkout
        df = diff
        lg = log -p
	unstage = reset HEAD --
[user]
	name = Kjell Andreassen
	email = andreassen.kjell@gmail.com
[push]
	default = tracking
