GPATH
GRTAGS
GSYMS
GTAGS
TAGS
*~
.xmonad/xmonad-x86_64-linux
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o
.xmonad/log.txt
.xmonad/.stack-work/
bin/xidle
bin/git
bin/git-cvsserver
bin/git-receive-pack
bin/git-shell
bin/git-upload-archive
bin/git-upload-pack
bin/gitk
