# .inputrc

set bell-style none
set meta-flag on
set convert-meta off
set output-meta on
set horizontal-scroll-mode off
set show-all-if-ambiguous on
set visible-stats on
set mark-symlinked-directories on
set completion-ignore-case on
"\e\C-l":"\C-e | less\C-m"

# Color files by types
set colored-stats On
# Append char to indicate type
set visible-stats On
# Mark symlinked directories
set mark-symlinked-directories On
# Color the common prefix
set colored-completion-prefix On
# Color the common prefix in menu-complete
set menu-complete-display-prefix On
